<div class="main-content">
  <div class="page-content">
    <h1 class="section-heading larger">About Louis Alridge</h1>
    <span class="helper"></span>
    <div class="row section">
      <div class="span4">
        <figure class="photo">
          <img src="/assets/images/profile_pic.jpg" alt="Profile pic" style="margin-bottom: -2px;">
          <span class="helper"></span>
        </figure>
      </div>
      <div class="span8">
        <p>Canadian. Programmer. Artist. College Graduate. Professional. Japanese Enthusiast. Gamer. INTJ. These ten words describe my world to its fullest. They are my hopes, my reality, my drive. The picture next to this text is the man behind those ten words. Those that wish to know more can click on the details for my actual “biography”. Otherwise, this site is dedicated to what interests me. Welcome and take a look around the locus.</p>
        <br>
        <blockquote class="plain">
          <p>There is no shortcut to true knowledge, its something you have to strive for, struggle for, live for.</p>
        </blockquote>
      </div>
    </div>
    <div class="slider">
      <div class="items">
        <span>
          <div class="slider-section">
            <div class="row">
              <div class="span4">
                <div class="box-light box-details">
                  <h2>Basic Personal Information</h2>
                  <dl class="details">
                    <dt>Name</dt>
                    <dd>Louis Alridge</dd>
                    <dt>Date Of Birth</dt>
                    <dd>December 14th, 1989</dd>
                    <dt>Nationality</dt>
                    <dd>USA</dd>
                    <dt>Country of Birth</dt>
                    <dd>Canadian</dd>
                  </dl>
                </div>
              </div>
              <div class="span4">
                <h2 class="section-heading">What Interests Me
                  <span class="helper"></span>
                </h2>
                <ul>
                  <li>Programming</li>
                  <li>Japanese Culture (Especially manga, anime, and music)</li>
                  <li>Biking (Road or Mountain)</li>
                  <li>Gaming (Any genre, though JRPGs are my favorite)</li>
                  <li>Fantasy Novels (Redwall series, Harry Potter and more)</li>
                  <li>World Conceptualization (Think Dungeon's &amp; Dragons)</li>
                  <li>Art (Modern, though I can definitely appreciate classics)</li>
                </ul>
              </div>
              <div class="span4">
                <h2 class="section-heading">Tools I live by
                  <span class="helper"></span>
                </h2>
                <ul>
                  <li>A computer with at least 3 monitors</li>
                  <li><a href="https://atom.io/">Atom</a></li>
                  <li><a href="http://www.debian.org/">Debian Linux Distro</a></li>
                  <li>A locked down Firefox / Chromium browser</li>
                  <li>At least 8 hours of music</li>
                  <li>A mechanical keyboard</li>
                  <li>A Macbook Pro and that magical trackpad</li>
                </ul>
                <div class="right">
                  <div class="button small slider-next-section-button" href="#">What I can do
                    <i class="icon-right-open right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </span>
        <span>
          <div class="hidden slider-section">
            <div>
              <h2 class="section-heading">What You Should Contact Me About
                <span class="helper"></span>
              </h2>
              <div class="tabs-wrapper">
                <ul class="tabs-vertical not-standard">
                  <li class="active small-tab-button">
                    <div>
                      <i class="icon-eye"></i>Frontend Development
                    </div>
                  </li>
                  <li class="small-tab-button">
                    <div>
                      <i class="icon-code"></i>Backend Development
                    </div>
                  </li>
                  <li class="small-tab-button">
                    <div>
                      <i class="icon-user"></i>User Experience</div>
                    </li>
                    <li class="small-tab-button">
                      <div>
                        <i class="icon-cog"></i>DevOps
                      </div>
                    </li>
                  </ul>
                <div class="panes">
                  <span>
                    <div class="small-tab-section">
                      <div>
                        <p>Front End Technologies I am skilled with:</p>
                        <ol>
                          <li>HTML, HAML, ERB</li>
                          <li>CSS, SASS</li>
                          <li>Javascript, Coffeescript, ES6, React, Redux, Typescript, Vue, Vuex</li>
                          <li>Image Editing and Creation (GIMP / Photoshop)</li>
                          <li>3D Scene Generation and Construction (WebGL, blender)</li>
                          <li>Google Maps Renderer</li>
                          <li>See portfolio for additional projects</li>
                        </ol>
                      </div>
                    </div>
                  </span>
                  <span>
                    <div class="hidden small-tab-section">
                      <div>
                        <p>Server/Back-End Technologies I am skilled with</p>
                        <ol>
                          <li>Ruby, Elixir, NodeJS, Jekyll</li>
                          <li>Postgres, Kafka, Apache Spark</li>
                          <li>Google Maps API</li>
                        </ol>
                      </div>
                    </div>
                  </span>
                  <span>
                    <div class="hidden small-tab-section">
                      <div>
                        <p>What does the user want?
                          <br>What do they need to be efficient?
                          <br>What improvements would help THEIR workflow?
                          <br><br>
                          A good developer must always consider the users or else they will have an excellent application that only they alone know how to use.
                        </p>
                      </div>
                    </div>
                  </span>
                  <span>
                    <div class="hidden small-tab-section">
                      <div>
                        <p>I am very proficient with Chef.
                          <br><br>
                          Working with it has taught me that the sysadmin guy who manages servers for a company is a dying breed. Automation of all processes regarding deployment is the future (as long as your DevOps people have time to do the development in DevOps and not purely just operations).<br><br>Those interested in my chef exploits should check my Cheftacular project built for SocialCentiv as a ruby OSS gem.
                        </p>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="right">
                <div class="button small slider-next-section-button" href="#">What I like to talk about
                  <i class="icon-right-open right"></i>
                </div>
              </div>
            </div>
          </div>
        </span>
        <span>
          <div class="hidden slider-section">
            <div class="box-dark">
              <div class="cols">
                <div class="col1of2">
                  <h2 class="section-heading">What I like to talk about
                    <span class="helper"></span>
                  </h2>
                  <ul class="extended">
                    <li>Solutions to big problems
                      <span class="helper"></span>
                    </li>
                    <li>Insightful discussion
                      <span class="helper"></span>
                    </li>
                    <li>Astronomy
                      <span class="helper"></span>
                    </li>
                    <li>Any Videogame that is not an fps
                      <span class="helper"></span>
                    </li>
                    <li>Japanese Culture (Anime, manga, music)
                      <span class="helper"></span>
                    </li>
                  </ul>
                </div>
                <div class="col1of2">
                  <h2 class="section-heading">What I like to think about
                    <span class="helper"></span>
                  </h2>
                  <ul class="extended">
                    <li>Solutions to big problems
                      <span class="helper"></span>
                    </li>
                    <li>What would happen to X if Y
                      <span class="helper"></span>
                    </li>
                    <li>Solutions to specific problems
                      <span class="helper"></span>
                    </li>
                    <li>Code/Logic Based Systems
                      <span class="helper"></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="right">
                <div class="button small slider-next-section-button" href="#">What I follow
                  <i class="icon-right-open right"></i>
                </div>
              </div>
            </div>
          </div>
        </span>
        <span>
          <div class="hidden slider-section">
            <div class="box-dark">
              <h2 class="section-heading larger">What I follow
                <span class="helper"></span>
              </h2>
              <div class="extended centered">
                <div class="section-heading">
                  <a href="https://news.ycombinator.com/news">Hacker News</a>
                  <span class="helper"></span>
                </div>
                <div class="section-heading">
                  <a href="https://arstechnica.com/">Ars Technica</a>
                  <span class="helper"></span>
                </div>
                <div class="section-heading">
                  <a href="http://theleanstartup.com/">The Lean Startup</a>
                  <span class="helper"></span>
                </div>
                <div class="section-heading">
                  <a href="http://krebsonsecurity.com/">Krebs On Security</a>
                  <span class="helper"></span>
                </div>
                <div class="section-heading">
                  <a href="http://www.codinghorror.com/blog/">Coding Horror</a>
                  <span class="helper"></span>
                </div>
                <div class="section-heading">
                  <a href="https://www.eff.org/">Electronic Frontier Foundation</a>
                  <span class="helper"></span>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="pager" style="top: 0px;">
        <div>
          <span class="active slider-section-button">•</span>
          <span class="slider-section-button">•</span>
          <span class="slider-section-button">•</span>
          <span class="slider-section-button">•</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  setupLinkedSectionButtons('slider-section-button', 'slider-section');
  setupLinkedSectionButtons('small-tab-button', 'small-tab-section');
  setupNextButtons();
</script>
