<div class="main-content">
  <div class="page-content">
    <div class="address">
      <div class="row pcom">
        <div class="span6 pcom">
          <p>
            <strong>Louis Alridge</strong>
          </p>
        </div>
        <div class="span6 address-padding pcom">
          <div class="hom" style="display: inline-block; margin-right: 5px;">
            <i class="icon-phone hom"></i>
            <strong class="hom">Phone: </strong>
          </div>
          817 564 2697
        </div>
      </div>
      <div class="row pcom">
        <div class="span6 pcom">
          <p>Western Plainfield</p>
        </div>
        <div class="span6 address-padding pcom">
          <div class="hom" style="display: inline-block; margin-right: 5px;">
            <i class="icon-mail hom"></i>
            <strong class="hom">Email: </strong>
          </div>
          loualrid at gmail.com
        </div>
      </div>
      <div class="row pcom">
        <div class="span6 pcom">
          <p>Plainfield, Illinois 60585</p>
        </div>
        <div class="span6 address-padding pcom">
          <div class="hom" style="display: inline-block; margin-right: 5px;">
            <i class="icon-chat hom"></i>
            <strong class="hom">Discord: </strong>
          </div>
          MrLocus#6193
        </div>
      </div>
    </div>
    <div class="content-switch hom">
      <div class="controls">
        <h2>
          <span>Contact Form Type</span>
        </h2>
        <ul class="connected-buttons">
          <li class="filter active">Classy</li>
          <li class="filter">Modern</li>
        </ul>
      </div>
      <div class="panes">
        <span>
          <div class="postcard-container">
            <div>
              <div class="postcard">
                <div class="contact-form">
                  <h2>Message:</h2>
                  <fieldset>
                    <p>To: Louis Alridge</p>
                    <div>
                      <input type="text" name="name" placeholder="Your Name" value="">
                    </div>
                    <div>
                      <input type="text" name="email" placeholder="Your Email Address" value="">
                    </div>
                  </fieldset>
                  <textarea name="message" id="message" placeholder="Your Message..."></textarea>
                  <input type="submit" name="commit" class="button button-submit" value="Send">
                  <div class="tesla-stamp stamp active"></div>
                  <div class="davinci-stamp stamp hidden"></div>
                  <div class="jobs-stamp stamp hidden"></div>
                  <div class="stamp-mark"></div>
                </div>
              </div>
            </div>
          </div>
        </span>
        <span class="hidden">
          <div class="box-dark">
            <h2 class="section-heading">Let's Talk...
              <span class="helper"></span>
            </h2>
            <p class="centered explanation">Contact me with this form. I'll get back to you ASAP.</p>
            <div class="contact-form">
              <fieldset class="centered">
                <div class="user-data">
                  <input type="text" name="name" placeholder="Your name" value="">
                  <input type="text" name="email" placeholder="Your Email Address" value="">
                </div>
                <div class="message">
                  <textarea name="message" placeholder="Your Message..."></textarea>
                </div>
                <div class="submit">
                  <input type="submit" name="commit" class="button large" value="Send Message">
                </div>
              </fieldset>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
