<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  >

  <title>
    {%- unless page.layout == 'home' -%}
      {{ page.title | append: ' | ' }}
    {%- endunless -%}
    {{ site.title }}
  </title>

  <!-- Resource Hints -->
  <link rel="manifest" href="{{ 'assets/manifest.json' | relative_url }}">
  <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/icons.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/reset.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/silver_skin.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/structure.css' | relative_url }}">
  <link rel="stylesheet" media="screen and (min-width: 981px)" href="{{ 'assets/css/desktop.css' | relative_url }}">
  {%- if page.layout == 'home' -%}
    <link rel="stylesheet" href="{{ 'assets/css/home-animations.css' | relative_url }}">
  {%- endif -%}
  <link rel="stylesheet" href="{{ 'assets/css/animations.css' | relative_url }}">
  <link rel="stylesheet" media="screen and (max-width: 980px)" href="{{ 'assets/css/mobile.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/pages.css' | relative_url }}">

  {% for _script in page.script_get %}
    {% assign _script_path = _script | append: '.js' %}
    <script src="{{ _script_path | prepend: '/assets/javascript/pages/' | relative_url }}"></script>
  {% endfor %}
  <script src="{{ 'assets/javascript/class_manip_on_mobile.js' | relative_url }}"></script>
</head>
