<div class="main-content">
  <div class="page-content">
    <div class="welcome-block">
      <h1 class="section-heading larger">
        Welcome to The Locus
      </h1>
      <span class="helper"/>
      <div class="welcome">
        <figure class="photo-small">
          <img src="/assets/images/profile_pic.jpg" alt="Profile Pic"></img>
        </figure>
        <p>The name is Louis Alridge. I am a developer of many paths, but my current focus is creating wonders with Elixir, Vue and Ruby. I am currently based in Illinois but can and will travel to any Tech hub in North America or Japan. Please take a look around.</p>
      </div>
    </div>
    <div class="shortcuts">
      <div class="row pcom">
        <div class="span6 pcom">
          <a href="/about_me">
            <h2>More About Louis Alridge</h2>
            <p>Basic overview of my interests and goals</p>
            <span class="ico">
              <i class="icon-user"></i>
            </span>
          </a>
        </div>
        <div class="span6 pcom">
          <a href="/resume">
            <h2>More About What I Can Do</h2>
            <p>Info about what skills I have</p>
            <span class="ico">
              <i class="icon-newspaper"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="row pcom">
        <div class="span6 pcom">
          <a href="/portfolio">
            <h2>More About What I've Done</h2>
            <p>List of projects I've been a part of</p>
            <span class="ico">
              <i class="icon-folder"></i>
            </span>
          </a>
        </div>
        <div class="span6 pcom">
          <a href="/contact">
            <h2>My Contact Information</h2>
            <p>Basic Contact Info &amp; a way to reach me on this site</p>
            <span class="ico">
              <i class="icon-mail"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="row pcom">
        <div class="span6 pcom">
          <a href="/posts">
            <h2>My Blog</h2>
            <p>Checkout my blog on Ruby on Rails, React, Elixir, DevOps, and whatever else I feel like talking about</p>
            <span class="ico">
              <i class="icon-doc-text"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="social-media-block">
      <h2 class="centered">Like What You See? Contact This Way</h2>
      <ul class="social-media">
        <li>
          <a data-tip="Gmail" href="mailto:loualrid@gmail.com">
            <i class="icon-mail"></i>
          </a>
        </li>
        <li>
          <a data-tip="Github" href="https://github.com/loualrid">
            <i class="icon-github"></i>
          </a>
        </li>
        <li>
          <a data-tip="LinkedIn" href="http://www.linkedin.com/pub/louis-alridge/38/b23/545">
            <i class="icon-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content-footer">
  <div class="wrapper"></div>
</div>
