<div class="main-navigation">
  <ul class="not-standard">
    <li style="width: 117px" {% if layout.render_home or page.layout == 'home' %} class="active"{% endif %}>
      <a href="/">
        <i class="icon-home"></i>
        Home
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
    <li style="width: 117px" {% if page.title == 'About Me' %} class="active"{% endif %}>
      <a href="/about_me">
        <i class="icon-user"></i>
        About Me
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
    <li style="width: 117px" <li style="width: 117px" {% if page.title == 'Resume' %} class="active"{% endif %}>
      <a href="/resume">
        <i class="icon-newspaper"></i>
        Resume
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
    <li style="width: 117px" {% if page.title == 'Portfolio' %} class="active"{% endif %}>
      <a href="/portfolio">
        <i class="icon-folder"></i>
        Projects
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
    <li style="width: 117px" {% if page.title == 'Blog' %} class="active"{% endif %}>
      <a href="/posts">
        <i class="icon-doc"></i>
        Blog
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
    <li style="width: 117px" {% if page.title == 'Contact' %} class="active"{% endif %}>
      <a href="/contact">
        <i class="icon-mail"></i>
        Contact
        <span class="helper1"></span>
        <span class="helper2"></span>
      </a>
    </li>
  </ul>
</div>
