{% assign sorted_projects = site.projects | sort: 'date' | reverse %}

<div class="main-content">
  <div class="page-content">
    <div>
      {% include project_categories.html %}
      <ul class="portfolio-grid"> <!-- add mobile -->
        {% for project in sorted_projects %}
          {% assign cats = "" | split: ',' %}
          {% for cat in project.categories %}
            {% assign final_cat = cat | slugify | prepend: 'cat-filter-' %}
            {% assign cats = cats | push: final_cat %}
          {% endfor %}
          <li class="gallery-item active {{ cats | join: ' ' }}">
            <a href="{{ project.url }}">
              {% if project.placeholder_image %}
                <img src="/assets/images/projects/placeholder_small.jpg">
              {% else %}
                <img src="/assets/images/projects/{{ project.images[0] }}_small.{{ project.image_types[0] }}" alt="{{ project.title }}">
              {% endif %}
              <div class="overlay"></div>
              <div class="ind-open"></div>
              <span>{{ project.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  setupCategoryButtons('filter', 'all-filter', 'gallery-item');
  setupAllCategoryButton('all-filter', 'filter', 'gallery-item');
</script>
