<div class="main-content">
  <div class="page-content">
    <div>
      <h1 class="section-heading larger">Blog: {{ page.tag }}</h1>
      <div class="shortcuts">
        {% for post in site.tags[page.tag] %}
          <div class="row">
            <a href="{{ post.url }}">
              <h2>{{ post.title }}</h2>
              <p>{{ post.excerpt | strip_html | append: '...' }}</p>
              <span class="ico">
                <i class="icon-{{ post.icon }}"></i>
              </span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="content-footer">
  <div class="wrapper">
    <a class="button" href="#">
      <i class="icon-up-circled"></i>Back to Top
    </a>
    <a class="button" href="/posts">
      <i class="icon-doc"></i>Back to Blog
    </a>
  </div>
</div>
