/* header */

.logo-container {
  font-size: 30px;
}

.header-css, .header-css-divider {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: inherit;
  font-weight: inherit;
  text-shadow: 0 1px 0 rgb(167, 167, 167), 0 2px 0 rgb(143, 143, 143), 0 3px 0 rgb(71, 71, 71), 0 4px 0 rgb(27, 27, 27), 0 5px 0 rgb(8, 8, 8), -1px -1px 1px #000000, 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
}

.header-line:after {
  font-family: "Times New Roman", Times, serif;
  content: attr(styling-title);
  text-align: center;
  color: transparent;
  background: linear-gradient(179deg, #D4D4D4 20%, #A6A6A7, #DCDCDC 90%);
  -webkit-background-clip: text;
}

.header-line-1, .header-line-2, .header-line-3, .header-line-4 {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
}

.header-line-1:after, .header-line-2:after, .header-line-3:after, .header-line-4:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-line-1:after {
  margin-top: -8.25px;
}

.header-line-2:after {
  margin-top: -7.25px;
}

.header-line-2 {
  top: 2px;
}

.header-line-3:after {
  margin-top: -8.75px;
}

.header-line-3 {
  top: 37px;
}

.header-line-4:after {
  margin-top: 25.25px;
}

.header-line-4 {
  top: 34px;
}

/* general main container */

.main-background {
  background: #373635 url(/assets/images/bg.png) repeat-y center top;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999999;
}

.flowers {
  background-image: url(/assets/images/bg2.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -999998;
}

.maze {
  background-image: url(/assets/images/mazebg.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -999998;
}

.header {
  padding: 0 0 150px 0;
  position: relative;
  text-align: center;
  z-index: 0;
  animation: header-move 3.5s
}

.header-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -2;
}

.header-top-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  z-index: -1;
}

.header-top-right {
  position: absolute;
  left: 50vw;
  top: 0;
  width: 50vw;
  z-index: -1;
}

.header-top-left-center {
  background: url(/assets/images/top_bg_l.png) no-repeat right top;
  margin: 0 140px 0 0;
  z-index: 1001;
  height: 38px;
}

.header-top-right-center {
  background: url(/assets/images/top_bg_r.png) no-repeat left top;
  margin: 0 0px 0 140px;
  height: 38px;
  z-index: -1;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: -5px;
  width: 100%;
  z-index: -999998;
  animation: footer-move 3.5s;
}

.fixed-footer-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50.1vw;
  z-index: -1;
}

.fixed-footer-bottom-right {
  position: absolute;
  left: 50.0vw;
  bottom: 0;
  width: 50.00vw;
  z-index: -1;
}

.fixed-footer-bottom-left-center {
  background: url(/assets/images/top_bg_r.png) no-repeat right bottom;
  z-index: 1001;
  height: 38px;
}

.fixed-footer-bottom-right-center {
  background: url(/assets/images/top_bg_l.png) no-repeat left bottom;
  height: 38px;
  z-index: -1;
}

.logo-background {
  background: url(/assets/images/logo_bg.png) no-repeat center top;
  position: absolute;
  top: 0;
  right: -168px;
  height: 150px;
  width: 337px;
  text-align: center;
  padding: 0px 0 0 0;
  z-index: -1;
}

.logo-background img {
  margin-top: 6px;
}

.left-background {
  z-index: -1;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  background: url(/assets/images/bg3.png) repeat-x left center;
  background-clip: content-box;
  animation: left-bg-move 3.5s;
}

.right-background {
  z-index: -1;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 50vw;
  float: right;
  background: url(/assets/images/bg3.png) repeat-x right center;
  background-clip: content-box;
  animation: right-bg-move 3.5s;
}

footer {
  opacity: 1;
  width: 960px;
  margin: 40px auto 0;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

footer p {
  opacity: .5;
  margin: 40px 0;
  line-height: 1;
}
