/* home */

.welcome {
  margin: 0 0 30px;
  text-align: center;
}

.welcome p {
  margin: 0;
  display: inline-block;
}

.welcome .photo-small img {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 0 20px 0;
  padding: 16px;
  position: relative;
  background: #fff;
  border: 2px solid #d2d3d6;
  border-bottom-color: #c5c6ca;
  border-radius: 116px;
  box-shadow: 0 4px 12px rgba(33,33,33,0.05);
  vertical-align: top;
}

.social-media {
  margin: 0 0 14px;
  text-align: center;
  font-size: 0;
}

.social-media li {
  display: inline;
  padding: 0;
}

.social-media a {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 7px 10px;
  overflow: hidden;
  position: relative;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #fff 0%, #fafafa 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #fafafa 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fafafa 100%);
  background-image: linear-gradient(to top, #fff 0%, #fafafa 100%);
  border: 1px solid #c2c3c7;
  border-bottom-color: #b7b9be;
  border-radius: 48px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 0 0 1px rgba(255,255,255,0.5), 0 1px 1px rgba(33,33,33,0.05);
  -webkit-tap-highlight-color: transparent;
}

.social-media a [class^=icon-] {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 46px;
  color: #9da1aa;
  text-shadow: 0 1px 0 #ffffff;
}

.social-media a::after {
  content: "";
  opacity: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -56px;
  left: -33px;
  background-image: -moz-linear-gradient(-35deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 60%);
  background-image: -webkit-linear-gradient(-35deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 60%);
  background-image: -o-linear-gradient(-35deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 60%);
  background-image: linear-gradient(-55deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 60%);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social-media a:hover {
  background: #444;
  border-color: #828692;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), inset 0 0 1px rgba(0,0,0,0.1);
  text-decoration: none;
}

.shortcuts {
  margin: 0 0 30px;
}

.shortcuts a:active {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #ccd6ed 0%, #e6eaf6 100%);
  background-image: -webkit-linear-gradient(top, #ccd6ed 0%, #e6eaf6 100%);
  background-image: -o-linear-gradient(top, #ccd6ed 0%, #e6eaf6 100%);
  background-image: linear-gradient(to top, #ccd6ed 0%, #e6eaf6 100%);
  border-color: #979fb3;
  border-top-color: #8e97ad;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
}

.shortcuts .row+.row [class^=span]::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: -o-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
  border: none;
}

.shortcuts .ico {
  position: absolute;
  top: 20px;
  left: 24px;
}

/* about me */

.photo {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 0px 5px;
  position: relative;
  background: #fff;
  border: 1px solid #d2d3d6;
  border-bottom-color: #b7b9be;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(33,33,33,0.05);
}

.photo .helper {
  display: block;
  width: 59px;
  height: 35px;
  position: absolute;
  top: -10px;
  left: -10px;
  background: url(/assets/images/tape.png);
}

.slider {
  padding: 55px 0 0;
  position: relative;
}

.pager {
    position: absolute;
    z-index: 110;
    left: 0;
    right: 0;
    text-align: center;
}

.pager div {
  display: inline-block;
  height: 20px;
  margin: 0;
  padding: 6px 10px 6px;
  position: relative;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #fafafa 100%);
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #fafafa 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #fafafa 100%);
  background-image: linear-gradient(to top, #fdfdfd 0%, #fafafa 100%);
  border-radius: 10px;
  line-height: 20px;
  box-shadow: 0 1px 0 rgba(33,33,33,0.2), 0 1px 1px rgba(33,33,33,0.15);
  font-size: 0;
}

.pager div::before, .pager div::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: -215px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.5) 100%);
  background-image: -webkit-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.5) 100%);
  background-image: linear-gradient(to right, rgba(187,192,207,0) 0%, rgba(187,192,207,0.5) 100%);
}

.pager div::after {
  left: auto;
  right: -215px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(left, rgba(187,192,207,0.5) 0%, rgba(187,192,207,0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(187,192,207,0.5) 0%, rgba(187,192,207,0) 100%);
  background-image: -o-linear-gradient(left, rgba(187,192,207,0.5) 0%, rgba(187,192,207,0) 100%);
  background-image: linear-gradient(to right, rgba(187,192,207,0.5) 0%, rgba(187,192,207,0) 100%);
}

.portfolio-item>figure .item-slider .pager {
  top: auto;
  bottom: 10px;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.pager span.active, .pager span.active:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #acb9d8 0%, #5872b0 100%);
  background-image: -webkit-linear-gradient(top, #acb9d8 0%, #5872b0 100%);
  background-image: -o-linear-gradient(top, #acb9d8 0%, #5872b0 100%);
  background-image: linear-gradient(to bottom, #acb9d8 0%, #5872b0 100%);
  box-shadow: none;
}

.pager span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  padding: 0;
  float: left;
  position: relative;
  background: #c5c5c5;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 #a6a6a6;
  text-indent: -9000px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
}

.pager span::before {
  content: "";
  display: block;
  width: 20px;
  height: 30px;
  position: absolute;
  top: -6px;
  left: -6px;
}

.slider .items>div {
  width: 100%;
}

.display-none, .hidden {
  display: none;
}

.box-dark .cols::before, .box-dark .cols::after {
  display: table;
  content: "";
  line-height: 0;
}

.details {
  margin-bottom: 30px;
}

.tabs-vertical {
  width: 262px;
  margin: 0;
  float: left;
  position: relative;
}

.tabs-vertical+.panes {
  margin: 0 0 0 296px;
  min-height: 200px;
}


.tabs-vertical li {
  padding: 0;
}

.tabs-vertical div {
    display: block;
    cursor: pointer;
    height: 44px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    border-radius: 3px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: #444;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: color 0.15s;
    -moz-transition: color 0.15s;
    -o-transition: color 0.15s;
    -ms-transition: color 0.15s;
    transition: color 0.15s;
}

.tabs-vertical li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: -o-linear-gradient(left, rgba(187,192,207,0) 0%, rgba(187,192,207,0.7) 50%, rgba(187,192,207,0) 100%);
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
  border: none;
}

.tabs-vertical .active div {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #eff2fa 0%, #dfe5f4 100%);
  background-image: -webkit-linear-gradient(top, #eff2fa 0%, #dfe5f4 100%);
  background-image: -o-linear-gradient(top, #eff2fa 0%, #dfe5f4 100%);
  background-image: linear-gradient(to bottom, #eff2fa 0%, #dfe5f4 100%);
  border-color: #a3aabc;
  border-bottom-color: #9da5b8;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 0 0 1px rgba(255,255,255,0.5), 0 1px 1px rgba(33,33,33,0.05);
  color: #7888af;
}

.tabs-vertical div [class^=icon-] {
  opacity: .7;
  margin: 0 0.5em 0 -0.15em;
  font-weight: normal;
  color: inherit;
}

/* resume */

dl.timeline {
  line-height: 150%;
}

dl.mobile-timeline dt {
  text-align: center;
}

dl.mobile-timeline dt strong, dl.mobile-timeline dd h4 {
  margin-bottom: 20px;
  position: relative;
  display: block;
  text-align: center;
}

dl.mobile-timeline dt p:first-of-type {
  margin-bottom: 0;
}

dl.mobile-timeline dd p {
  text-align: center;
}

dl.timeline dt {
  margin-left: -30px;
  width: 160px;
  float: left;
  clear: both;
  text-align: center;
}

dl.timeline dd {
  margin: 0;
  padding: 0 0 0 148px;
  position: relative;
}

dl.timeline dd h4 {
  margin: 0;
  text-transform: none;
  font-size: 15px;
  color: #626366;
}

dl.timeline dd p {
  margin: 0;
}

dl.timeline dt strong {
  display: block;
  font-weight: bold;
  font-style: italic;
  color: #626366;
}

dl.timeline dt p {
  margin: 0;
  font-style: italic;
  color: #444;
}

.timeline .timeline-right {
  float: right;
  margin-top: -25px;
}

/* */
