---
layout: compress
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div class="main-wrapper">
      <header class="header">
        <div class="header-container">
          <div class="header-top-left">
            <div class="header-top-left-center"></div>
            <div class="logo-background">
              <a href="/">
                <div class='logo-container'>
                  <div class='header-line-1 header-line' styling-title='THELOCUS'>
                    <h1 class='header-css'>THELOCUS</h1>
                  </div>
                  <div class='header-line-2 header-line' styling-title='__________'>
                    <h1 class='header-css-divider'>__________</h1>
                  </div>
                  <div class='header-line-3 header-line' styling-title='LOUIS'>
                    <h1 class='header-css'>LOUIS</h1>
                  </div>
                  <div class='header-line-4 header-line' styling-title='ALRIDGE'>
                    <h1 class='header-css header-line-4'>ALRIDGE</h1>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="header-top-right">
            <div class="header-top-right-center"></div>
          </div>
        </div>
      </header>
      <!-- main container-->
      <div class="main-container">
        {% include nav.html %}
        <div class="page-content-wrapper">
          {% for _include in page.content_includes %}
            {% assign _include_path = _include | append: '.html' %}
            {% include {{ _include_path }} %}
          {% endfor %}
        </div>
      </div>
      <div class="left-background"></div>
      <div class="right-background"></div>
      <footer>
        <p></p>
      </footer>
      <div class="flowers"></div>
      <div class="main-background"></div>
      <div class="fixed-footer">
        <div class="fixed-footer-bottom-left">
          <div class="fixed-footer-bottom-left-center"></div>
        </div>
        <div class="fixed-footer-bottom-right">
          <div class="fixed-footer-bottom-right-center"></div>
        </div>
      </div>
    </div>
  </body>
</html>
